<br />

<div class="booyah-box col-10 offset-1">
  <h1>About</h1>

  <p>
    Darren is a recent graduate of "Coding Boot Camp" provided by the University of Central Florida where he graduated top of his class. With the recent skill set he’s acquired; HTML/CSS, SQL, react.js and Ruby as well as his 15 years of experience in the technology space as an account executive gives him a unique set of skills that allows him to effectively communicate how his work directly relates to solving real business issues. Darren’s prior work experience includes Gateway, LiveOps, Media whiz and AVAYA.
  </p>
</div>