

<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Flixter ** Web-based instructional videos - How to make the best film possible.</h1>
    <br />
    <h2>I'm an Entrepreneur, web-designer, environmental activist & Movie buff</h2>
    <br />
     <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Horror</h3>
    <br />
    <p>Carpenter, King, Rob Zombie - Learn step by step the art of fear!
  </div>

  <div class="col-12 col-sm">
    <h3>Action</h3>
    <br />
    <p>Action packed Action - Schwarzenegger, Stallone, Bruce Willis - Learn how to blow-ish up and tell a compelling story.
  </div>

  <div class="col-12 col-sm">
    <h3>Drama</h3>
    <br />
    <p>Pacino, De Niro, Brando - the art of making a drama flim....learn how to capivate and take you audience on an emotional rollercoaster.
  </div>
</div>