<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Flixter - the new app from d.o.vandyke</h1>
    <br />
    <h2>I'm an artist, activest and all around cool dude</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Horror</h3>
    <br />
    <p>Choose from all the horrible classics you love - Jason, Freddy, Michael
  </div>

  <div class="col-12 col-sm">
    <h3>Action</h3>
    <br />
    <p>Action packed Action - Schwarzenegger, Stallone and even Bruce Willis
  </div>

  <div class="col-12 col-sm">
    <h3>Drama</h3>
    <br />
    <p>Which Drama is your favorite? - Pacino, De Niro, Brando
  </div>
</div>