html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#flex-content-container {
    flex: 5;
}

#footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    background: rgba(36, 32, 33, 0.9);
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Yatra One', cursive;
    font-family: 'Rasa', serif;
    padding: 10px 0px;
    margin-top: 30px;
    font-weight: 100;
}

#footer a {
    color: white;
    font-weight: 100;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Yatra One', cursive;
    font-family: 'Rasa', serif;
}

.social-button {
    margin: 4px;
    color: White
}

.social a:hover {
    text-decoration: none;
}